:root {
    --header-footer-bgcol: #303d4e;
    --hero-about-btns-bgcol: #58b99d;
    --contacts-bgcol: #40536b;
    --1stcard-bgcol:#ad5264;
    --2ndcard-bgcol: #4ea1b3;
    --3rdcard-bgcol: #130f0f;
    --4thcard-bgcol: #3f81bc;
    --5thcard-bgcol: #1a37ae;
    --6thcard-bgcol: #c8b3a5;
}

/* DEBUG */
[class*="container"] {
    border: 1px solid red;
}

/* [class*="col-"] {
    border: 2px solid green;
    min-height: 150px;
} */

/* COMMON */
img {
    max-width: 100%;
}

input:focus-visible {
    outline-offset: 0;
    outline: none;
}

.ms_transition-none {
    box-shadow: none !important;
    border-color: lightgrey !important;
}

.wrapper-70 {
    width: 70%;
    margin: 0 auto;
}

.fs-7 {
    font-size: 0.75rem !important;
}

/* HEADER */
.ms_header {
    height: 60px;
    width: 100%;
    background-color: var(--header-footer-bgcol);
}

.ms_navbar, .ms_navbar-brand {
    color: white;
    text-transform: uppercase;
}

.ms_navbar-toggler {
    border-color: white;
}

.ms_navbar-toggler-icon {
    filter: invert();
}


/* MAIN */
/* HERO */
.ms_hero {
    background-color: var(--hero-about-btns-bgcol);
    color: var(--bs-white);
}

.ms_avatar-img {
    width: 50%;
}

.ms_inline-hr {
    display: inline-block;
    width: 15vw;
    height: 7px;
    border-top: 3px solid white;
    border-radius: 2px;
    color: white;
    font-weight: 900;
    opacity: 1;
}

/* PORTFOLIO */
.ms_portfolio {
    color: var(--header-footer-bgcol);
}

.ms_hr-dark {
    border-top: 3px solid var(--header-footer-bgcol);
    width: 15vw;
}

.ms_card-img {
    border-radius: 10px;
}


/* ABOUT */
.ms_about {
    background-color: var(--hero-about-btns-bgcol);
    color: var(--bs-white);
}


/* FORM CONTACT */
.ms_contacts {
    color: var(--header-footer-bgcol);
}

.ms_btn-form {
    background-color: var(--hero-about-btns-bgcol);
    color: white;
    border-color: transparent;
}


/* COMPANY INFORMATIONS */
.ms_company-info {
    background-color: var(--contacts-bgcol);
    color: var(--bs-white);
}

.ms_textarea-height {
    height: 140px !important;
}

.ms_input-black {
    color: black;
}

/* FOOTER */
.ms_footer {
    height: 70px;
    background-color: var(--header-footer-bgcol);
    color: var(--bs-white);
}